#hero-con {
    /* This is temporary, let content dictate the height */
    height: 500px;
}

#about-con {
    /* This is temporary, let content dictate the height */
    height: 300px;
}

#service-con {
    /* This is temporary, let content dictate the height */
    height: 750px;
}

#footer-con {
    /* This is temporary, let content dictate the height */
    height: 150px;
}